.AppForm {
  margin: 20px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(#000, 0.2);
  padding: 20px;
  width: 50%;

  > *:not(:last-child) {
    margin-bottom: 20px;
  }

  .Title {
    font-size: 0.85em;
    color: #fff;
    margin: -20px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
