.box {
  padding: 50px;
  box-sizing: border-box;
}
.list-group {
  width: 40%;
  box-shadow: 0 3px 6px;
}

.table-box {
  box-shadow: 2px 2px 4px 4px #dddddd;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.card-container {
  flex: 30%;
}

.row {
  display: flex;
}
.radio-row {
  display: flex;
  flex-direction: column;
}

.radio-column {
  padding: 5px;
}
.column {
  flex: 50%;
  padding: 5px;
}

:root {
  --color-green: #338855;
  --color-neon-green: #00ff1a;
  --color-scale-green: #0c1f13;
  --color-dark-scale-green: #13231a;
  --color-dark-green: #162d1f;
  --color-darkest-green: #153623;
  --color-energy: #10e7c0;
  --color-ink: #27282d;
  --color-paper: #f2eecb;
  --color-smoke: rgba(115, 130, 118, 0.6);
  --duration: 1s;
}

.button-background {
  background-color: var(--color-ink);
  border-radius: 5px;
  box-shadow: 0 3px 6px;
  border: none;
  padding: 7px 10px;
  color: var(--color-energy);
  text-shadow: 0px 0px 5px var(--color-energy);
}
